body {
    background-color: #fff;
    font-family: Roboto;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/** Menu **/

.navbaroben {
    font-size: 0.75em;
    margin-top: 5px;
    clear: both;
    position: relative;
    top: 0px;
}

.mainnavbar {
    color: #000;
    opacity: 0.75;
    padding: 6px;
}

#linksoben {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
  }

#rechtsoben {
    float: right;
    padding-right: 15px;
    padding-top: 5px;
  }

#anmelden {
    background-color: #4285f4;
    padding: 5px 10px 5px 10px;
    border: none;
    margin-left: 10px;
    color: #fff;
    border-radius: 2px;
}

#anmeldetext {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8em;
}
/** page content **/

.midsection {
    display: flex;
    padding-top: 500px;
}

#logo {
    height: 80%;
}

/** footer **/

footer {
    clear: both;
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin-top: auto;
    background-color: rgba(224, 224, 224, 0.54);
    color: rgba(0,0,0,.54);
    font-size: 0.8em;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.bottomnavbar{
    color: rgba(0,0,0,.54);
    padding: 8px;
}

#deutschland {
    padding-left: 25px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(219, 219, 219);
    border-width: 1px;
    font-size: 13px;
}

#linksunten {
    float: left;
    padding-left: 17px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

#rechtsunten {
    float: right;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
  }