body {
    background-color: #fff;
    font-family: Roboto;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/** Menu **/

.navbaroben {
    font-size: 0.8em;
    margin-top: 10px;
    clear: both;
    position: relative;
    top: 0px;
}

.mainnavbar {
    color: #000;
    opacity: 0.75;
    padding: 6px;
}

#linksoben {
    float: left;
    padding-left: 10px;
    padding-top: 15px;
  }

#rechtsoben {
    float: right;
    padding-right: 15px;
    padding-top: 5px;
  }

#anmelden {
    background-color: #4285f4;
    padding: 7px 15px 7px 15px;
    border: none;
    margin-left: 10px;
    color: #fff;
    border-radius: 3px;
}

#anmeldetext {
    color: #fff;
    text-decoration: none;
    font-weight: 550;
    font-size: 0.85em;
    cursor: default;
}
/** page content **/

.midsection {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#logo {
    height: 92px; 
    width: 272px;
}

#svg {
    position: absolute;
    top: 332px;
    left: 336px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
}

#suchfeld {
    margin: 30px 0px 30px 0px;
    width: 430px;
    height: 45px;
    border-radius: 50px;
    border-color: lightgray;
    padding-left: 50px;
    border-style: solid;
    border-width: 0px;
    box-shadow: 0 0 5px 5px rgb(236, 236, 236);
}

.gobuttons {
    flex-direction: row;
}

#suche {
    background-color: #f1f1f1;
    padding: 10px 15px 10px 15px;
    border: none;
    color: #fff;
    border-radius: 3px;
    margin: 0px 5px 0px 5px;
}

#suchklick {
    text-decoration: none;
    color: black;
    opacity: 0.55;
    font-family: Arial, Helvetica, sans-serif;
}

#ei-nstellungen{
    margin: 20px 0px 20px 0px;
}

#sprache {
    font-size: 0.8em;
}
 

/** footer **/

footer {
    clear: both;
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin-top: auto;
    background-color: rgba(230, 230, 230, 0.54);
    color: rgba(0,0,0,.54);
    font-size: 0.9em;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.bottomnavbar{
    color: rgba(0,0,0,.54);
    padding: 8px;
}

#deutschland {
    padding-left: 25px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(219, 219, 219);
    border-width: 1px;
}

#linksunten {
    float: left;
    padding: 10px 0px 10px 17px;
  }

#rechtsunten {
    float: right;
    padding: 10px 20px 10px 0px;
  }